:root{
  --back: rgb(91, 155, 213);
  --darkback: rgb(45, 77, 136);
  --smallWidth: 700px;
  --textFont: "Segoe UI Light", "Segoe UI", "Helvetica Neue", "Arial", "Tahoma", sans-serif;
  --headerFont: 'Bookman Old Style', 'Times New Roman';
  --codeFont: Menlo,Monaco,Consolas,"Courier New",monospace;
}

body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI Light", "Segoe UI", "Helvetica Neue", "Arial", "Tahoma", sans-serif;
  font-size: 14pt;
  margin-bottom: 70px;
  overflow-x: hidden;
}
.footer {
  height: 30px;
  padding-top: 4px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  z-index: 100;
}
.pointer {
  cursor: pointer;
}

.container {
  position: relative;
  max-width: 800px;
}
.container.header {
  max-width: 900px;
}
.container.body {
  margin: 10px 20px 40px 20px;
  display: flex;
  align-items: center;
  min-height: 420px;
}
.home-text {
  display: inline-block;
  font-size: 14pt;
  align-self: flex-end;
}
@media (max-width: 700px) {
  .home-text {
    margin-right: 0px;
  }
}
.home-text p {
  margin-top: 30px;
}
.btn-styled {
  width: 280px;
  height: 70px;
  font-family: "Segoe UI Light", "Segoe UI", "Helvetica Neue", "Arial", "Tahoma", sans-serif;
  font-size: 24pt;
  background-color: #5b9bd5;
  border-radius: 0px;
  border: 0px;
  margin-top: 40px;
}
.btn-styled.btn-next {
  margin-top: 0;
  margin-bottom: 40px;
}
.home-cat {
  display: inline-block;
  vertical-align: bottom;
  align-self: flex-end;
  margin-left: 60px
}
@media (max-width: 700px) {
  .home-cat {
    position: absolute;
    left: 330px;
  }
  .home-cat.hide-small {
    display: none;
  }
}
.score {
  font-size: 18pt;
}
.score-value {
  margin-left: 5px;
  margin-right: 5px;
}
.minus-one {
  font-weight: bold;
  color: white;
  margin-left: 10px;
  border-radius1: 20px;
  background-color: #2d4d88;
  padding: 5px;
}
.last-desc {
  font-weight: bold;
}
.share {
  margin-top: 20px;
  margin-bottom: 20px;
}
.books {
  margin-top: 20px;
  margin-bottom: 20px;
}
.books .book {
  margin-right: 10px;
}
.CodeMirror {
  border: 0;
  margin-top: 10px;
  height: auto;
  line-height: 1.3em;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 12pt;
}
.CodeMirror .CodeMirror-scroll {
  height: auto;
  overflow-y: hidden !important;
  overflow-x: auto !important;
}
.CodeMirror .CodeMirror-lines {
  cursor: pointer;
}
.code-container {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
}
.code-toolbar {
  font-size: 12pt;
  color: #888;
  cursor: pointer;
}
.code-toolbar .tb-item {
  cursor: pointer;
  border-bottom: 1px dashed;
  margin-right: 10px;
}
.code-toolbar .tb-item.disabled {
  border-bottom: none;
  cursor: auto;
  color: #aaa;
}
.animated-fast {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.bootbox-body {
  margin: 30px;
}
.modal-footer .btn-primary {
  border-radius: 0px;
  border: 0px;
  font-family: 'Bookman Old Style', 'Times New Roman';
  font-size: 18pt;
  width: 150px;
  height: 50px;
}

.IntroView-button-continue {
  margin-top: 20px;
  margin-bottom: 10px;
}

.PackageView-package-buttons {
  align-self: center;
}

.PackageView-button-disable[disabled]:disabled,
.PackageView-button-disable[disabled]:hover,
.PackageView-button-disable[disabled]:active {
  background-color: #b5cde2;
  cursor: inherit;
}

.PackageView-button-score {
  margin-top: -2px;
  font-size: 14px;
}

.PackageResult-buttons {
  display: flex;
  justify-content: space-between;
  width: 660px;
  margin-bottom: 80px;
}
.GameResultsView-buttons {
  display: flex;
  justify-content: space-between;
  width: 660px;
}
