.header{
  background-color: #6f5499;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  h1{
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace; 
    font-size: 48pt;
    cursor: pointer;
  }
}

.container {
  max-width: 800px;
}

.score {
  font-size: 18pt;
}

.last-desc{
  font-weight: bold;
}

.share{
  margin-top: 20px;
  margin-bottom: 20px;
}

.books{
  margin-top: 20px;
  margin-bottom: 20px;
  .book{
    margin-right: 10px;
  }
}

.CodeMirror {
  border: 1px solid #ddd;
  height: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	line-height: 1.3em;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  .CodeMirror-scroll{
    height: auto;
  }

  .CodeMirror-lines {
    padding: 8px 0;
    cursor: pointer;
  }
}